@model IEnumerable<ProductFrontend.Models.ItemModel>

@{
    ViewBag.Title = "Sku";
}

<h2>Sku</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Market)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceDuration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Market)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceDuration)
        </td>
    </tr>
}

</table>
